.clientInfo {
  background: #F7F8FB;
  display: flex;
  padding: 15px;
  flex-basis: 50%;
}
.column {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
}
.group {
  display: flex;
  flex-direction: column;
}
.cityGroup {
  display: flex;
}
input {
  height: 34px;
}
