.clientInfo {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}
.columns {
  display: flex;
}
.column {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  padding: 15px;
}
.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.cityGroup {
  display: flex;
  justify-content: space-between;
}
.cityGroup > div {
  width: 30%;
}
input {
  height: 40px;
}
.header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 0 15px;
}
.title {
  composes: title from './common.css';
}
.link {
  composes: link from './common.css';
  font-size: 16px;
}
.label {
  margin-bottom: 4px;
}
.input {
  margin-bottom: 10px;
}
