.table {
  display: table;
  margin: 0 auto;
  width: 96%;
}
.row {
  display: table-row;
}
.cell {
  composes: cell from './common.css';
}
.header {
  composes: row from './common.css';
  background: #F7F8FB;
  color: #9B9B9B;
}
