.clientInfo {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
}
.columns {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media(max-width: 660px) {
  .columns {
    flex-direction: column;
  }
  .column {
    padding: 0;
    padding-top: 15px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 15px;
  width: 100%;
}
.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.cityGroup {
  display: flex;
  justify-content: space-between;
}
.cityGroup > div {
  width: 30%;
}
input {
  height: 40px;
}
.header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 0 15px;
}
.title {
  composes: title from './common.css';
}
.link {
  composes: link from './common.css';
  font-size: 16px;
}
.label {
  margin-bottom: 4px;
}
.input {
  margin-bottom: 10px;
}
.button {
  composes: button from './common.css';
  composes: blue from './common.css';
  align-items: center;
  bottom: 25px;
  color: white;
  display: flex;
  height: 35px;
  justify-content: center;
  right: 25px;
  position: absolute;
}
@media(max-width: 430px) {
  .button {
    position: initial;
  }
}
