.row {
  display: table-row;
  font-family: sans-serif;
  font-size: 18px;
}
.cell {
  display: table-cell;
  padding: 15px 10px;
  vertical-align: middle;
}
.green {
  background: rgba(77,201,139,0.75);
}
.yellow {
  background: #FBF17B;
}
.red {
  background: #E47F6D;
}
.blue {
  background: #4990E2;
}
.blueText {
  color: #4990E2;
}
.arrowDown {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
}
.button {
  border: 1px solid #B0BEC9;
  box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.33);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px;
}
.link {
  font-size: 18px;
  color: #4A90E2;
  cursor: pointer;
}
.link:hover {
  color: #356aa7;
}
.title {
  color: #C3D2DE;
  text-transform: uppercase;
}
