.row {
  display: table-row;
  font-family: sans-serif;
  font-size: 18px;
}
.cell {
  display: table-cell;
  padding: 15px 10px;
  vertical-align: middle;
}
.green {
  background: rgba(77,201,139,0.75);
}
.yellow {
  background: #FBF17B;
}
.red {
  background: #E47F6D;
}
.blue {
  background: '#4990E2';
}
.blueText {
  color: #4990E2;
}
