.modal {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.modal > * {
  margin-bottom: 10px;
}
.reminderText {
  color: #4990E2;
  font-family: Lato-Medium;
  font-size: 24px;
}
.buttons {
  display: flex;
  margin-top: 20px;
}
.button {
  align-items: center;
  background: #4990E2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font-family: Lato-Medium;
  font-size: 18px;
  height: 70px;
  justify-content: center;
  margin: 0 10px;
  padding: 0 15px;
}
.buttonType {
  margin-bottom: 5px;
}
