.verticalFlex {
  display: flex;
  flex-direction: column;
}
.createAccount {
  composes: verticalFlex;
  margin: 0 auto;
  margin-top: 50px;
  width: 400px;
}
@media(max-width: 700px) {
  .createAccount {
    width: 100%;
  }
}
.email {
  composes: verticalFlex;
  margin-bottom: 40px;
}
.password {
  composes: verticalFlex;
}
.title {
  font-size: 18px;
  margin-bottom: 14px;
}
.label {
  margin-bottom: 5px;
}
.input {
  font-size: 14px;
  padding-left: 20px;
  width: 400px
}
.passwordInput {
  composes: input;
  margin-bottom: 8px;
}
.passwordInput::placeholder {
  font-size: 12px;
  font-style: italic;
}
.input {

}
