.notes {
  background: #F7F8FB;
  padding: 15px;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.clientInfo {
  display: flex;
  margin-right: 2.5%;
  width: 50%;
}
.groupTitle {
  color: #C3D2DE;
  font-size: 14px;
  text-transform: uppercase;
}
