.verticalFlex {
  display: flex;
  flex-direction: column;
}
.createAccount {
  composes: verticalFlex;
  margin: 0 auto;
  margin-top: 50px;
  width: 600px;
}
@media(max-width: 700px) {
  .createAccount {
    width: 100%;
  }
}
.email {
  composes: verticalFlex;
  margin-bottom: 40px;
}
.password {
  composes: verticalFlex;
}
.title {
  font-size: 18px;
  margin-bottom: 12px;
}
.label {
  margin-bottom: 5px;
}
.passwordInput {
  margin-bottom: 8px;
}
