.expense {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  margin: 14px;
}
.grouping {
  margin-top: 7px;
}
.group {
  align-items: center;
  display: flex;
  padding: 7px 0;
}
.group:hover {
  background: #E7ECEE;
}
.check {
  margin-right: 5px;
}
