.expenses {
  background: #F7F8FB;
  margin-top: 15px;
}
.expenseGroup {
  display: flex;
  flex-wrap: wrap;
}
.header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 18px 0 8px 18px;
}
.title {
  composes: title from './common.css';
}
.add {
  padding-right: 18px;
}
