.notes {
  background: #F7F8FB;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.textArea {
  border: none;
  height: 35%;
}
.title {
  composes: title from './common.css';
  font-size: 14px;
  padding: 18px;
  padding-bottom: 0;
}
.notesWrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
