.page {
  background: black;
  padding: 0 15px 40px 15px;
}
.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}
.arrowDown {
  composes: arrowDown from './common.css';
  margin-left: 5px;
}
.grouping {
  align-items: center;
  cursor: pointer;
  display: flex;
}
.user {
  composes: grouping;
  margin-right: 25px;
}
.settings {
  composes: grouping;
  margin-right: 5px;
}
