.popupMenu {
  align-items: center;
  display: flex;
}
.popupMenuItem {
  composes: popupMenu;
  cursor: pointer;
  color: #9B9B9B;
}
.popupMenuItem:hover g {
  fill: rgb(42, 85, 136);
}
.popupMenuItem:hover span {
  color: rgb(42, 85, 136);
}
.text {
  margin: 0 6px 0 4px;
}
