.popupMenu {
  align-items: center;
  display: flex;
}
.popupMenuItem {
  composes: popupMenu;
  cursor: pointer;
  color: #9B9B9B;
}
.popupMenuItem:hover g {
  fill: green;
}
.popupMenuItem:hover span {
  color: green;
}
.text {
  margin: 0 12px 0 4px;
}
